@model List<MyInsurance.Model.Offer>
@{
    ViewBag.Title = "Sigorta Teklifleri";
}

<h2>Sigorta Teklifleri</h2>

@if (Model != null && Model.Count > 0)
{
    <table>
        @foreach (var offer in Model)
        {
            <tr>
                <td><img src="/assets/img/@offer.Company.Logo" width="100" /></td>
                <td>@offer.Company.Name</td>
                <td>@offer.Description</td>
                <td>@offer.OfferDetail.Price TL</td>
                <td>Plaka: @offer.Customer.CustomerCar.PlateNumber</td>
            </tr>
        }
    </table>
}


